In [18]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

import matplotlib.pyplot as plt

In [19]:
df=pd.read_csv("data/ds_salaries.csv", index_col='Unnamed: 0')

In [20]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

## Mapping the Expirence Level To a Number Using a dictionary

In [21]:
df["experience_level"].value_counts().sort_values().plot(kind='bar')

In [22]:
experience_level={"EN":0,"MI":1,"SE":2,"EX":3}

df["experience_level"]=df["experience_level"].map(experience_level)